
.btn{
  margin: .4rem 0;
  padding: .2rem 0;
  display: block;
  border:1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}
.actice{
  background: #b4282d;
  border: 1px solid #b4282d;
  color: #fff;
}