{
    "presets": [
        "react", // 编译react
        [
            "es2015",
            {
                "modules": false
            }
        ],
        "stage-0"
    ],
    "plugins": [
        "react-hot-loader/babel" // 开启模块热替换(HMR)
    ]
}