.toastr{
  color: #fff;
  position: fixed;
  z-index: 100;
  bottom: -1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.enterActive{
  transform: translateY(-3rem);
  transition-duration: 1s;
  transition-timing-function: ease-in;
}
.leaveActive{
  transform: translateY(3rem);
  transition-duration: 1s;
  transition-timing-function: ease-out;
}
.text{
  background: rgba(0, 0, 0, .35);
  border-radius: .1rem;
  padding: .1rem .2rem;
}