@import '../../styles/mixin/px2rem.scss';

.tab-bar-bar{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    flex-direction: row;
    width: 100vw;
    background: #fff;
    border-top: 1px solid #000;
    font-size: 0.2rem
}
.tab-bar-tab{
    flex: 1;
    display: flex;
    justify-content: center;
    text-align: center;
}
.tab-bar-tab-icon{
    font-size: .5rem;
    text-align: center
}