.tab {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  height: .88rem;
  width: 100vw;
  line-height: .88rem;
}

.btn {
  background: #fff;
  border-color: #c7c7c7;
  color: #333;
  font-size: .24rem;
}

.customer {
  compose: btn;
  width: 20%;
  border-top: 1px solid #c7c7c7;
  border-right: 1px solid #c7c7c7;
}

.buy {
  compose: btn;
  width: 40%;
  border-top: 1px solid #c7c7c7;
}

.cart {
  compose: btn;
  width: 40%;
  background-color: #b4282d;
  border: 1px solid #b4282d;
  color: #fff;
}
