.spinner {
  margin: 0 auto;
  width: .6rem;
  height: .6rem;
  animation: rotate 2s infinite linear;
}

.dot {
  width: 60%;
  height: 60%;
  background-color: #1abc9c;
  border-radius: 100%;
  animation: bounce 2s infinite ease-in-out;
}

.dot1 {
  composes: dot
}

.dot2 {
  composes: dot;
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
