.goods__list{
  position: relative;
  margin-bottom: 1.1rem;
  display: flex;
  flex-flow: row wrap;
}
.goods__grid{
  background: #fff;
  width: 50%;
  height: auto;
}
.goods__singular{
  composes: goods__grid;
  padding:0 .1rem .33rem .2rem;
}
.goods__even{
  composes: goods__grid;
  padding: 0 .2rem .33rem .1rem;
}
.goods__itemHeader{
  background: #f4f4f4;
  min-height: 2.95rem;
  display: flex;
  align-items: center;
  justify-content: center
}
.goods__itemLogo{
  display: block;
  margin: auto;
  width: 3rem;
  height: 2.95rem;
  background: #f4f4f4;
}
.goods__wrapper{
  position: relative;
  // padding-bottom: 118%;
}
.goods__desc{
  padding: .2rem;
  background: #f1ece2;
  color: #9F8A60;
  font-size: .24rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.goods__tagWraper{
  margin-top: .2rem;
  margin-bottom: .25rem;
}
.goods__tag{
  padding: 5px 15px;
  background: #f48f18;
  border-radius: 4px;
  text-align: center;
  font-size: .2rem;
  color: #fff;
}
.goods___title{
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0 .2rem;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #333;
}
.goods__price{
  line-height: 1;
  padding: 0 .2rem;
  text-align: left;
  font-size: .32rem;
  color: #b4282d;
}
