.goods__list{
  position: relative;
  margin-bottom: 1.1rem;
  display: flex;
  flex-flow: row wrap;
}
.goods__grid{
  background: #fff;
  width: 50%;
  height: auto;
}
.goods__singular{
  composes: goods__grid;
  padding:0 .1rem .33rem .2rem;
}
.goods__even{
  composes: goods__grid;
  padding: 0 .2rem .33rem .1rem;
}
.goods__itemHeader{
  background: #f4f4f4;
}
.goods__itemLogo{
  display: block;
  margin: auto;
  width: 3rem;
  height: 2.95rem;
  background: #f4f4f4;
}
.goods__wrapper{
  position: relative;
  // padding-bottom: 118%;
}